@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* VARIÁVEIS */

:root {
    --cor1: #3136F6;
    --cor2: #2A5BD4;
    --cor3: #3A9BEB;
    --cor4: #2AB4D4;
    --cor5: #31F6E6;
}

body {
    background-color: var(--cor1);
}

/* CABEÇALHO */

.cabecalho {
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to bottom, var(--cor1) 75%, #282ec7);

    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);

    text-shadow: 1px 1px 1px #184366;
    text-align: center;
    color: var(--cor3);
}

/* PRINCIPAL */

.principal {
    background-color: #ebebff;

    color: #2e33bb;
    font-size: 1.15em;
}

/* PRINCIPAL TITULOS */

.principal .titulo {
    padding: 30px 10px;

    text-decoration: underline;
    text-align: center;

    text-shadow: 1px 1px 0.1px #2e33bb;
}

.principal .subtitulo {
    padding: 20px 10px 10px 10px;
    
    font-style: italic;
    text-shadow: 1px 1px 1px #2e33bb;
}

.principal p {
    color: #1d227e;
    text-align: justify;
    line-height: 2.4em;
    text-indent: 30px;
    padding: 10px 10px;
}

/* PERGUNTAS E OBSERVAÇÕES E CITAÇÕES */

.obs {
    background-color: #31f6e63a;

    padding: 10px;
    margin: 10px 10px;

    border-radius: 10px;
    box-shadow: 0px 1px 2px #082b285d;
}

.pergunta {
    background-color: #e4d5a3b6;

    padding: 10px;

    font-size: 0.9em;
    color: var(--cor3);
    border: 1px solid #082b2848;
    box-shadow: 0px 1px 2px #082b285d;
}

.pergunta .subtitulo {
    text-shadow: 0px 1px 0.1px #8398a8;
}

.citacao {

}

/* IMAGEM SISTEMAS OPERACIONAIS */

.iso__imagem {
    background: #ebebff url(Punched_card2.jpg) center center / contain no-repeat scroll;
    overflow: hidden;

    margin: auto;
    height: 199px;
    width: 425px;

    border-radius: 40px 20px 20px 20px;
    box-shadow: 0px 1px 2px #082b285d;
}

/* ENGENHARIA DE SOFTWARE */

.lista {
    list-style-position: inside;
    background-color: #31f6e63a;
    
    padding: 10px;
    margin: 0px 10px;

    border-radius: 10px;
    line-height: 1.5em;
    border: 1px solid #082b2848;
    box-shadow: 0px 1px 2px #082b285d;
}


/* LINGUAGEM DE PROGRAMAÇÃO */

pre {
    background-color: #dadada;

    margin: 0px 10px;
    padding: 0px 10px;
    height: auto;

    border: 1px solid #082b2848;
    border-radius: 10px;
    box-shadow: 0px 1px 2px #082b285d;
}

.codigo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.77em;
}